{{partial "manage/navigation"}}

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col main">
      {{#if isInstanceLocked}}
        <div class="alert alert-warning my-3 text-center" role="alert">
          This NativeX instance is inactive. Continue working in <a rel="noopener" href="https://app.mindfulcms.com" target="_blank">MindfulCMS</a>.
        </div>
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
</div>
